{% block body %}
<!DOCTYPE html>
<html>
<head>
</head>

<body style="font-family: Arial; font-size: 12px;">
<div>
    <p>
        Подтверждение регистрации в приложении Todo app, пожалуйста, перейдите по ссылке ниже.
    </p>
    <p>
        <a href="{{ confurm_email_url }}">
            Перейдите по этой ссылке, чтобы сбросить пароль.
        </a>
    </p>
    <p>
        Если Вы не производили регистрацию, пожалуйста, свяжитесь с нами ответным письмом.
    </p>
</div>
</body>
</html>
{% endblock %}