{% extends 'base.html' %}
{% block body %}
<body>
    <form class="login-form" action="/login" method="POST">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-succes">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
        <p class="login-text">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-lock fa-stack-1x"></i>
          </span>
        </p>
        <input type="email" name="email" class="login-username" autofocus="true" required="true" placeholder="Email" />
        <input type="password" name="password" class="login-password" required="true" placeholder="Password" />
        <input type="submit" name="Login" value="Войти" class="login-submit" />
        <a href="{{ url_for('sign_up') }}" class="sign-up">Зарегистрироваться</a>
    </form>
      <a href="{{ url_for('reset') }}" class="login-forgot-pass">Забыли пароль?</a>
      <div class="underlay-photo"></div>
      <div class="underlay-black"></div>
</body>
{% endblock %}